/* Default logo style */
.responsive-img {
  max-width: 36%;
  height: auto;
  display: block;
}
.-img  {
  max-width: 46%;
  height: auto;
  display: block;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* White glow with slight transparency */
  border-radius: 8px; /* Optional: to soften edges */
}


/* For tablets and smaller screens */
@media (max-width: 768px) {
  .responsive-img {
    max-width: 30%;
    margin-left: 10px;
  }
}

/* For phones */
@media (max-width: 480px) {
  .responsive-img {
    max-width: 25%;
    margin-left: 10px;
  }
}

/* Gradual fade-in animation */
@keyframes fadeInSlow {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInSlow {
  animation: fadeInSlow 0.8s ease-in-out forwards;
}


.menu_fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff; /* Background for the sticky header */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for effect */
}